// SASS
@import './variable.scss';
// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Bootstrap
@import 'bootstrap/scss/bootstrap';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



// class color 
._blue {
    background-color: #263859;
}

._rosa {
    background-color: #ff6768;
}

$background: #1d1d1d;
$titles: #fefefe;

h1,
h2,
h3 {
    color: $titles;
}

div.text {
    color: $titles;
}

img{
    max-width: 100%;
}